exercise1/working/vaccination-plan.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="vaccination-plan" type="vaccination-plan-type"/>

    <xsd:complexType name="vaccination-plan-type">
        <xsd:all>
            
            <xsd:element name="vaccine-types">
            </xsd:element>

            <xsd:element name="vaccines">
            </xsd:element>

            <xsd:element name="patients">
            </xsd:element>

        </xsd:all>
    </xsd:complexType>

</xsd:schema>
