exercise1/working/vaccination-plan.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="http://meinnamespace.meinefirma.de"
targetNamespace="http://meinnamespace.meinefirma.de"
elementFormDefault="qualified">

<xs:element name="vaccination-plan">
    <xs:element name="vaccine-types">
    </vaccine-types>

    <xs:element name="vaccines">
    </vaccines>

    <xs:element name="patients">
    </patients>
</xs:vaccination-plan>